@import url(font-loading.css); /* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */

/* css variables */
:root {
  --background-color: #051427;
  --primary-color: #2fa3ec;
  --gray-color: #b2b6b7;
  --light-gray-color: #eaeaea;
  --background-light-color: #192c44;
  --background-lighter-color: #2d425d;
}

/* reset some styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  direction: rtl;
  line-height: 1.5;
  font-family: iranyekan, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: iranyekan !important;
}
h1 {
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ion-content {
  --ion-background-color: var(--background-color);
}

ion-icon {
  color: #fff;
}
